[user]
  name = Edwy MANDRET
  email = emandret@student.42.fr
[url "ssh://git@github.com/explogx"]
	insteadOf = https://github.com/explogx
[init]
	defaultBranch = main
[blame]
	coloring = repeatedLines
[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[github]
	user = explogx
